<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <!-- API Key untuk layanan Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCaBiBG7lpH6GKnjOl9eVfbnmE6t_rmow" />

        <!-- FileProvider untuk akses sementara ke gambar -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- SplashActivity sebagai layar pertama yang muncul -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Daftar Activity lainnya -->
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".PilihBarangActivity" android:exported="true" />
        <activity android:name=".BarterActivity" android:exported="true" />
        <activity android:name=".ChatActivity" android:exported="true" />
        <activity android:name=".DetailProductActivity" android:exported="true" />
        <activity android:name=".EditDetailProductActivity" android:exported="true" />
        <activity android:name=".EditProductActivity" android:exported="true" />
        <activity android:name=".EditProfileActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".PostItemActivity" android:exported="true" />
        <activity android:name=".MapActivity" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".StartChatActivity" android:exported="true" />
        <activity android:name=".HistoryActivity" android:exported="true" />

    </application>

</manifest>